html,
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow: hidden;
    background: linear-gradient(to bottom, #330000, #660011, #990022);
    font-family: Arial, sans-serif;
    color: white;
    overflow-x: hidden;
}

#inicio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo {
    position: relative;
    display: none;
    width: 360px;
    height: 800px;
    overflow: hidden;
    margin: 0 auto;
    background-color: transparent;
    transform-origin: top left;
    scale: 1;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #1e3c72;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

button:hover {
    background-color: #295a9f;
}


.content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    margin: 0px 0;
}

.content.show {
    opacity: 1;
    transform: translateY(0);
}


/*left = esquerta right = direita */

#img1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

#img2 {
    position: absolute;
    top: 0px;
    left: 170px;
    z-index: 2;
}

#img3 {
    position: absolute;
    top: 0px;
    left: 260px;
}

#img4 {
    position: absolute;
    top: 50px;
    left: -44px;
}

#img5 {
    position: absolute;
    top: 106px;
    left: 85px;
    z-index: 2;
}

#img6 {
    position: absolute;
    top: 80px;
    left: 256px;
    z-index: 2;
}

#img7 {
    position: absolute;
    top: 171px;
    left: 0px;
}

#img8 {
    position: absolute;
    top: 206px;
    left: 116px;
}

#img9 {
    position: absolute;
    top: 195px;
    left: 180px;
    z-index: 1;
}

#img10 {
    position: absolute;
    top: 325px;
    left: 0px;
}

#img11 {
    position: absolute;
    top: 300px;
    left: 122px;
    z-index: 1;
}

#img12 {
    position: absolute;
    top: 270px;
    left: 180px;

}

#img13 {
    position: absolute;
    top: 405px;
    left: 0px;
    z-index: 4;
}

#img14 {
    position: absolute;
    top: 457px;
    left: 87px;
    z-index: 3;
}

#img15 {
    position: absolute;
    top: 324px;
    left: 160px;
    z-index: 2;
}

#img16 {
    position: absolute;
    top: 381px;
    left: 259px;
}

#img17 {
    position: absolute;
    top: 560px;
    left: 0px;
    z-index: 4;
}

#img18 {
    position: absolute;
    top: 587px;
    left: 122px;
    z-index: 2;
}

#img19 {
    position: absolute;
    top: 535px;
    left: 186px;
}

#img20 {
    position: absolute;
    top: 502px;
    left: 227px;
    z-index: 2;
}

#img21 {
    position: absolute;
    top: 600px;
    left: -5px;
}

#img22 {
    position: absolute;
    top: 665px;
    left: 136px;
}

#img23 {
    position: absolute;
    top: 535px;
    left: 250px;

}

#img24 {
    position: absolute;
    top: 678px;
    left: 215px;
}

#img25 {
    position: absolute;
    top: 658px;
    left: 80px;
}

:root {
    --tempo-do-pulso: 1.0s;
    /* ajuste o tempo aqui */
}

#coracao {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 110px;
    transform: translate(-50%, -50%) rotate(-45deg);
    background: red;
    animation: pulsar var(--tempo-do-pulso) infinite ease-in-out;
    z-index: 10;
    transition: opacity 3s ease, transform 3s ease;
}

#coracao::before,
#coracao::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background: red;
    border-radius: 50%;
}

#coracao::before {
    top: -50px;
    left: 0;
}

#coracao::after {
    top: 0;
    left: 50px;
}

#coracao.ativo {
    display: block;
}

@keyframes pulsar {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
    }
}

#chuva-coracoes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

.cora {
    position: absolute;
    color: pink;
    font-size: 16px;
    animation: cair linear forwards;
}

@keyframes cair {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.texto {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 20;
    text-align: center;
    padding: 10px;
}


.texto.ativo {
    opacity: 1;
}